<div class="row">
    {% for post in post_list %}
    <div class="col-6 col-md-4 my-3">
        {% if post.image %}
        <div class="col-12">
            <a href="{% url 'post_detail' post.slug %}">
                <img src="{{ post.image_small.url }}" class="img-fluid img-thumbnail ">
            </a>
        </div>
        {% endif %}
        <div class="col-12 mt-3 mb-2 text-center">
            <a href="{% url 'post_detail' post.slug %}"><h3 class="h5">{{ post.title }}</h3></a>
        </div>

        <div class="col-12 text-center">
            <a href="{% url 'post_detail' post.slug %}" class="btn btn-sm btn-info"> Подробнее </a>
        </div>
    </div>
    {% endfor %}
</div>

