{% extends "base.html" %}
{% block extra_head %}
<!--&lt;!&ndash; Material Design Bootstrap &ndash;&gt;-->
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">-->
{% endblock %}

{% block extra_js %}
<!--&lt;!&ndash; MDB core JavaScript &ndash;&gt;-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>-->
{% endblock %}



{% block title %}{% endblock %}


{% block content %}
{% include "blog/blog-portfolio-category.html" %}
{% include "blog/blog-portfolio-images.html" %}
{% endblock %}
