<div class="card-columns ">
{% for post in post_list %}

        {% if post.image %}

            <div class="card portfolio">
                <a href="{% url 'post_detail' post.slug %}">
                    <div class=" textWithBlurredBg">
                        <img src="{{ post.image_small.url }}" class="img-fluid">
                        <div><h2>{{ post.title }}</h2>
                        <span>Подробнее</span></div>
                    </div>

                </a>
                <div class="w-100 d-block d-sm-none" >
                    <small>{{ post.title }}</small>
                </div>
            </div>


        {% endif %}

{% endfor %}
</div>


