{% extends "base.html" %}
{% block title %}Un Viaggio Italiano Blog{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 ">
    {% for post in post_list %}
    <div class="card mb-3">
        <div class="card-body"><a href="{% url 'post_detail' post.slug %}"><h3>{{ post.title }}</h3></a>
            <span class="small"><a href="{% url 'category' slug=post.category.slug %}">{{ post.category }}</a></span> |
            <span class="small">Опубликованно: {{ post.post_date }}</span>

        </div>
        <div class="card-body">
            {% if post.excert %}
                {{ post.excert | slice:":200" | safe }}"
            {% else %}
                {{ post.content | striptags | slice:":200" | safe }}">
            {% endif %}
            <a href="{% url 'post_detail' post.slug %}"> ...>>Подробнее </a>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
