{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <!-- Fotorama from CDNJS, 19 KB -->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
{% endblock %}

{% block extra_js %}
    {% if user.is_authenticated and user.is_superuser %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src=" {% static 'js/admin.js' %}"></script>
    {% endif %}
{% endblock %}


{% block title %}{{ post.title }}{% endblock %}


{% block content %}
<div class="row">
    <div class="col mb-4">
        <h2 class=" my-5 text-center" id="post-title" data-field-value="{{ post.title }}" data-id="{{ post.id }}">{{ post.title }}</h2>
        <input class="form-control my-5" id="post-title-edit" style="display: none;"></input>
        <div class="text-center">
            <span class="small">Коллекция: <a href="{% url 'category' slug=post.category.slug %}">{{ post.category }}</a></span>
            {% if user.is_authenticated and user.is_superuser %}
            | <span class="small"><a href="/admin/blog/post/{{post.id}}/change/" >Edit in admin</a></span>
            {% endif %}
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-7" >
        <!-- Add images to <div class="fotorama"></div> -->
         <div class="fotorama" id="post-fotorama" data-width="100%" data-ratio="3/4" data-nav="thumbs" data-allowfullscreen="true"
              data-transition="crossfade" data-keyboard="true" data-thumbwidth="120" data-thumbheight="120" data-thumbmargin="5">
            {% for image in images %}
                <a href="{{ image.image_medium.url }}"><img src="{{ image.image_small.url }}" ></a>
            {% endfor %}

         </div>
    </div>
    <div class="col-12 col-md-5 px-5 my-4">
        <div id="post-content">{{ post.content|safe }}</div>
        <div id="ckeditor-div" style="display: none;">
            <textarea
                data-processed="0"
                id="postcontentedit"
                name = "postcontentedit"
                data-config="{{ ckeditor_config }}">
            </textarea>
            <button id="save" action=" " type="button" class="btn btn-outline-info btn-sm right m-3">Save</button>
        </div>
    </div>
</div>
<hr class="m-5">
<div class="row my-5">


        <div class="col-md-3 col-6 text-center">
            {% if next is not None %}
                {% if next.image %}
                <a href="{{ next.get_absolute_url }}">
                    <img src="{{ next.image.url }}" class="img-fluid img-thumbnail mb-3" >
                </a>
                {% endif %}
                <a href="{{ next.get_absolute_url }}"><h5>{{ next.title }}</h5></a>
            {% endif %}


        </div>

        <div class="col-md-3 offset-md-6 col-6 text-center">
            {% if prev is not None %}
                {% if prev.image %}
                <a href="{{ prev.get_absolute_url }}">
                    <img src="{{ prev.image.url }}" class="img-fluid img-thumbnail mb-3" >
                </a>
                {% endif %}
                <a href="{{ prev.get_absolute_url }}"><h5>{{ prev.title }}</h5></a>
            {% endif %}
        </div>
</div>

{% endblock %}


