<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %} Liza Beta {% endblock %}
    </title>
    {% include "parts/head.html" %}
    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2 col-sm-3 sidebar ">
                {% include "parts/left-menu.html" %}
                {% block extra_menu %}
                {% endblock %}
            </div>

            <div class="col-md-10 col-sm-9 p-0">
                <div class="container">
                    {% block content %}
                    {% endblock %}

                    {% include "parts/footer.html" %}
                </div>
            </div>
        </div>
    </div>
{% block extra_js %}
{% endblock %}
</body>
</html>
