<!--<div class="row">-->
<!--    <footer class="col-12 text-center ">-->
<!--        <hr class="m-5 px-5">-->
<!--&lt;!&ndash;        <span style="font-size: 19px; color: Dodgerblue;">&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="fa fa-envelope mr-2 icon" href="mailto:uvi.italia@gmail.com"></a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="fa fa-whatsapp-square mr-2 icon" href="https://wa.me/393898316491"></a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="fa fa-viber mr-2 icon" href="viber://chat?number=+380673731919"></a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="fa fa-facebook-messenger icon" href="http://m.me/andreyukanna"></a>&ndash;&gt;-->
<!--&lt;!&ndash;        </span>&ndash;&gt;-->
<!--    </footer>-->
<!--</div>-->