<div class="pt-3 text-right">
    <span style="font-size: 18px;">
        <a class="fa fa-facebook-square mr-2 icon" href="https://www.facebook.com/Lizabetaart/"></a>
        <a class="fa fa-instagram icon" href="https://www.instagram.com/liza_betaaa/"></a>
    </span>
</div>
<nav class="pt-4 nav flex-column " style="font-family: 'Oswald', sans-serif;">
    <p class="h2 mx-2 mb-2 text-dark logo">Liza Betta</p>
    <div class="p-2">
    <img class="img-fluid rounded" src="https://instagram.fiev14-1.fna.fbcdn.net/v/t51.2885-19/s320x320/97328377_2508208599428467_8175435368506589184_n.jpg?_nc_ht=instagram.fiev14-1.fna.fbcdn.net&_nc_ohc=cazrPCF_fAAAX_R0qKM&oh=effda2fd8faadaa1b2317be30876b6b5&oe=5F7740C2">
    </div>
    <p class="h6 mx-2 mb-2 text-dark logo">Передаю вперчетления от моря акварелью и кистью</p>

    <a href="{% url 'index' %}" class="nav-link" >Главная страница</a>


    <hr>

    {% if user.is_authenticated and user.is_superuser %}
    <div class="pl-3">Здравствуй {{ user.username }}</div>
    {% endif %}

    <a href="/admin/" class="nav-link">Админка</a>

</nav>