<div class="pt-3 text-right">
    <span style="font-size: 18px;">
        <a class="fa fa-facebook-square mr-2 icon" href="https://www.facebook.com/Lizabetaart/"></a>
        <a class="fa fa-instagram icon" href="https://www.instagram.com/liza_betaaa/"></a>
    </span>
</div>
<nav class="pt-4 nav flex-column " style="font-family: 'Oswald', sans-serif;">
    <p class="h1 mx-2 mb-2 text-dark logo">Liza Betta</p>
    <a href="{% url 'index' %}" class="nav-link" >Главная страница</a>


    <hr>

    {% if user.is_authenticated and user.is_superuser %}
    <div class="pl-3">Здравствуй {{ user.username }}</div>
    <a href="http://127.0.0.1:8000/admin/" class="nav-link">Админка</a>
    {% endif %}
</nav>